html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, figure,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

* {
  color: @text-color-dark1;
  font-family: "PingFang SC", monospace;
  font-size: 14px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:focus {
  outline: @theme-color auto 1px;
}

input::-webkit-input-placeholder {
  color: @text-color-dark5;
  font-size: 1em;
  padding-left: 0.5em;
}

.input-group {
  display: flex;
  input {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 30px;
    width: 200px;
  }

  button {
    border: none;
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 60px;
    padding: 0 15px;
    color: @text-color-default;
    background: @btn-primary-color;
    cursor: pointer;
  }
}