html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
header {
  height: 40px;
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.logo {
  background: pink;
  width: 200px;
}
nav .nav-item {
  color: #fff;
  padding: 5px 10px;
}
.btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 40px;
  padding: 5px 10px;
}
